/* bio stylesheet */

body {
    background-color: blanchedalmond;
    color: black;
    font-family: tahoma;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.linkbar{
    text-align: center;
    border-style: groove;
    background-color: paleturquoise;
    color: black;
    font-family: tahoma;
}
