/* index stylesheet */
body {
    text-align: center;
    background-color: blanchedalmond;
    color: black;
    font-family: tahoma;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    height:350px;
    width:509px;
}

.linkbar{
    text-align: center;
    border-style: groove;
    background-color: paleturquoise;
    font-family: tahoma;
    color: black;
}