/* resume stylesheet */

body {
    background-color: skyblue;
}

h1 {
    text-align: center;
}

.linkbar{
    text-align: center;
    border-style: solid;
    background-color: yellow;
    font-family: helvetica;
    color: black;
}