/* index stylesheet */

body {
    text-align: center;
    background-image: url("giphy1.gif");
    background-position: center;
    background-attachment: fixed;
    color: orange;
    font-family: georgia;
    font-size:1.5em;
    margin-left:10%;
}

.image1 {
    height: 350px;
    width: 260px;
}

.image2 {
    height: 350px;
    width: 550px;
}

.Title{
    background-color: honeydew;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 15%;
    border-style: double;
    border-width:.25em;

}

.linkbar{
    text-align: left;
    background-color: honeydew;
    font-family: arial;
    font-weight: bold;
    font-size: 1em;
    position: fixed;
    color:orange;
    top:0;
    border-style:solid;
}