/* resume stylesheet */

body {
    background-color: honeydew;
    color: black;
    font-family: georgia;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
}

h1 {
    text-align: center;
    font-family: georgia;
}

.linkbar{
    text-align: left;
    background-color: honeydew;
    font-family: arial;
    font-weight: bold;
    font-size: 1.5em;
    position: fixed;
    border-style: solid;
    color: orange;
    top:0;
}